<div class="stock-container" *ngFor="let stock of stocks; index as i; trackBy: trackStockByCode">
    <div class="name">{{stock.name + ' (' + stock.code + ')'}}</div>
    <div class="price"
        [ngStyle]="stockStyles">
        $ {{stock.price}}
    </div>
    <div [class.positive]="stock.isPositiveChange()"
         [class.negative]="!stock.isPositiveChange()">Test Alternative class binding</div>
    <div [style.background-color]="stock.isPositiveChange() ? 'green' : 'red'">Test Alternative style binding</div>
    <button (click)="toggleFavorite($event,i)"
        *ngIf="!stock.favorite">Add to Favorite</button>
</div>