<h2>Create Stock Form</h2>
<div class="form-group">
    <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
        <!-- No change until the end of price form element -->
        <!-- Omitted for brevity -->
        <div formArrayName="notablePeople">
            <div *ngFor="let person of notablePeople.controls; let i = index"
                 [formGroupName]="i"
                 class="notable-people">
                <div>
                    Person {{i + 1}}
                </div>
                <div>
                    <input type="text"
                           placeholder="Person Name"
                           formControlName="name">
                </div>
                <div>
                    <input type="text"
                           placeholder="Person Title"
                           formControlName="title">
                </div>
                <button type="button"
                        (click)="removeNotablePerson(i)">
                    Remove Person
                </button>
            </div>
        </div>
        <button type="button"
                (click)="addNotablePerson()">
            Add Notable Person
        </button>
        <button type="submit">Submit</button>
        <button type="button"
                (click)="resetForm()">
            Reset
        </button>
    </form>
</div>
<p>Form Control value: {{ stockForm.value | json }}</p>
<p>Form Control status: {{ stockForm.status | json }}</p>
<p>Stock Value: {{stock | json}}</p>